@model OdeToFood.Models.Restaurant


@* AVOID conditional view logic & move handling redirects to controller *@
@*
@if (Model == null)
{
    <h1>NOT Found</h1>
}
else
{
*@



<h1>@Model.Name</h1>
<div>
    Id: @Model.Id
</div>
<div>
    Cuisine: @Model.Cuisine
</div>

<div>... details ...</div>
<a asp-action="Index" asp-controller="Home">Home</a>


@*
}
*@